body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

h1 {
  color: orange;
  font-family: italic;
  font-size: 50px;
  text-shadow: 3px 3px 3px #ababab;
  text-align: center;
}