<%- include('../partials/header')%>
<h1>Edit Recipe</h1>
<form action="/recipes/<%= recipe.id %>?_method=PUT" method="POST" autocomplete="off">
    <form action='/recipes/<%= r.id %>?_method=EDIT' method='POST>
        <button type='submit'>EDIT</form>button</form></td>
  <button type="submit">Edit Recipe</button>
</form>
<%- include('../partials/footer')%>